<h1><%= @restaurant.name %></h1>

<% if params[:when] %>
  <h1><%= params[:when].capitalize %>'s Reservations</h1>
  <ul>
    <% @reservations.where(date: Date.send(params[:when])).order("time ASC").each do |reservation| %>
      <li>Time: <%= reservation.time.to_formatted_s(:time) %>, Party size: <%= reservation.party_size %>
        <% if reservation.customer_id %>
          , Contact: <%= Customer.find(reservation.customer_id).email %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
