<!DOCTYPE html>
<html>
<head>
  <title>Tabledynamix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p id="notice">
      <%= flash[:notice] %>
    </p>
  <% end %>
  <% if current_user.class == Owner %>
    <p><%= link_to "Home", owners_path %></p>
  <% else %>
    <p><%= link_to "Home", root_path %></p>
  <% end %>

  <p>
    <% if current_user %>
      Currently signed in as
      <% if current_user.class == Customer %>
        <%= link_to current_user.email, customers_path %>
      <% else %>
        <%= link_to current_user.email, owners_path %>
      <% end %>
      | <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", new_sessions_path %> | <%= link_to "Sign up as Customer", new_customer_path %> | <%= link_to "Sign up as Owner", new_owners_path %>
    <% end %>
  </p>
<%= yield %>

</body>
</html>
