<%= form_for [@restaurant, @reservation] do |f| %>

  <div class="errors">
    <% if @reservation.errors.any? %>
      <%= pluralize(@reservation.errors.count, "error") %>
      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="field">
    <%= f.hidden_field :date, value: @reservation.date %>
  </div>

  <div class="field">
    <%= f.hidden_field :time, value: @reservation.time %>
  </div>

  <div class="field">
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </div>

  <%= f.hidden_field :boss_override, value: true %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<ul>
  <li> <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %></li>
  <li> <%= link_to "Remove Restaurant", restaurant_path(@restaurant), method: :delete %></li>
</ul>

<p>Restaurant Capacity: <%= @restaurant.capacity %></p>

<h2>Reservations:</h2>

<% @restaurant.reservations.where('date >= ?', Time.now).order(:date, :time).each do |reservation| %>
  <div>
    <% if reservation.customer %>
      <strong><%= reservation.customer.email %></strong><br>
      <% else %>
      <strong> Walk-in </strong><br>
    <% end %>
    <strong><%= reservation.date %></strong>
    <%= reservation.time.to_formatted_s(:time) %><br>
    Party Size: <%= reservation.party_size %>
  </div><br>

<% end %>
