<h1>All Restaurants</h1>
<div class="search">
  <%= form_tag restaurants_path, method: :get do %>
    <%= text_field_tag :search_by %>
    <%= submit_tag "Search" %>
    <%= button_to "Clear Search", root_path, search_by: nil %>
  <% end %>
</div><br>

<div class="sort">
<%= form_tag restaurants_path, method: :get do %>
  <%= select_tag(:sort_by, options_for_select(Category.all.pluck(:name))) %>
  <%= submit_tag 'Sort by Category' %>
<% end %>
</div><br>

<div class="nearby">
  <%= form_tag restaurants_path, method: :get do %>
    <%= text_field_tag :nearby %>
    <%= select_tag(:distance, options_for_select([1, 2, 5, 10, 20, 50])) %>
    <%= select_tag(:units, options_for_select([:km, :mi])) %>
    <%= submit_tag "Near Me" %>
  <% end %>

</div>

<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <p> <%= link_to "Reserve Now", new_restaurant_reservation_path(restaurant) %></p>
<% end %>
