<div class="background">
  <%= image_tag "resto.png" %>
</div>
<div class="title">
<h1>Table Dynamix</h1>
</div>
<h1>All Restaurants</h1>
<br>

<%= link_to "Advanced Search", search_path %>
<br>

<div class="sort">
<%= form_tag restaurants_path, method: :get do %>
  <%= select_tag(:sort_by, options_for_select(Category.all.pluck(:name))) %>
  <%= submit_tag 'Sort by Category' %>
<% end %>
</div><br>

<div class="nearby">
  <%= form_tag restaurants_path, method: :get do %>
    <%= text_field_tag :nearby %>
    <%= select_tag(:distance, options_for_select([1, 2, 5, 10, 20, 50])) %>
    <%= select_tag(:units, options_for_select([:km, :mi])) %>
    <%= submit_tag "Near Me" %>
  <% end %>

</div>

<div class="retaurant_title">

<% @restaurants.each do |restaurant| %>
  <h2 id="button_parent"><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <% if params[:nearby] %>
    <h3 id="button">Distance: <%= restaurant.distance_to(params[:nearby]).round(2) %> <%= params[:units] %></h3>
  <% end %>
  <p> <%= link_to "Reserve Now", new_restaurant_reservation_path(restaurant) %></p>
<% end %>
</div>
