<h1>Create a new restaurant</h1>

<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :capacity %>
  <%= f.number_field :capacity %>

  <%= f.submit %>
<% end %>
