<h1><%= @restaurant.name %></h1>

<% if current_user.class == Owner %>
  <%= render 'owner' %>
<% end %>

<%= image_tag @restaurant.picture %>

<div class="restaurant-info">
  <p>
    <%= @restaurant.description %>
  </p>
  <p>
    <%= @restaurant.phone %>
  </p>
  <p>
    <%= @restaurant.open_time.to_formatted_s(:time) %> <strong>-</strong> <%= @restaurant.close_time.to_formatted_s(:time) %>
  </p>

  <p>
    <%= "$" * @restaurant.price %>
  </p>

  <p>
    <%= @restaurant.address %>
  </p>
  <% if @restaurant.categories.any? %>
    <% @restaurant.categories.each do |category| %>
      <span class="category-box">
        <%= link_to category.name, category_path(category) %>
      </span>
    <% end %>
  <% end %>
</div>


<!-- <div class="map">
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=450x300&zoom=16&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}&key=AIzaSyAfpa2cs92HLIB4tU_c09rMiFZ24gv6Me0" %>
</div> -->

<div class="embedded">
  <iframe width=600 height=400 src=  <%= "https://www.google.com/maps/embed/v1/place?q=#{@restaurant.address.gsub(" ", "+")}&zoom=17&key=AIzaSyAfpa2cs92HLIB4tU_c09rMiFZ24gv6Me0" %>>
  </iframe>
</div>

<div class="menu">
  <h4>MENU</h4>
  <p>
    <%= @restaurant.menu %>
  </p>
</div>


<% if current_user.class == Customer %>
  <%= render 'restaurants/customer' %>
<% end %>

<% if @restaurant.reviews.any? && @restaurant.reviews.first.persisted? %>
  <h2>Reviews</h2>
  <h3>Average rating: <%= @restaurant.reviews.average(:rating).round(1) %></h3>
  <% @restaurant.reviews.each do |review| %>
    <% unless review.new_record? %>
      <div class="review">
        <p><%= link_to review.customer.email, customer_path(review.customer) %> says:</p>
        <blockquote><%= review.comment %></blockquote>
        <blockquote>Rating: <%= review.rating %>/5</blockquote>
      </div>
    <% end %>
  <% end %>
<% end %>
